<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <span>🎓</span>
      <h1>EduConnect</h1>
      <p>Réinitialisation du mot de passe</p>
    </div>

    @if (isSuccess) {
      <div class="success-box">
        <p>✅ Un email de réinitialisation a été envoyé à <strong>{{ email }}</strong></p>
        <p>Vérifiez votre boîte mail et suivez les instructions.</p>
        <a routerLink="/auth/login" class="btn-back-login">
          Retour à la connexion
        </a>
      </div>
    } @else {
      <p class="subtitle">
        Entrez votre email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
      </p>

      <div class="form">
        <div class="field">
          <label>Email</label>
          <input
            type="email"
            [(ngModel)]="email"
            placeholder="exemple@email.com"/>
        </div>

        @if (errorMessage) {
          <p class="error">{{ errorMessage }}</p>
        }

        <button (click)="onSubmit()" [disabled]="isLoading">
          {{ isLoading ? 'Envoi...' : 'Envoyer le lien' }}
        </button>

        <a routerLink="/auth/login" class="btn-retour">
          ← Retour à la connexion
        </a>
      </div>
    }
  </div>
</div>